@page "/"
@using AspireApp.Libraries.Models
@using AspireApp.Libraries.Enums
@using AspireApp.ServiceDefaults.Shared
@using Newtonsoft.Json;
@using System.Diagnostics

@inject OrchestratorApiClient OrchestratorApi

<PageTitle>Home</PageTitle>

<h1>Home</h1>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{    
    @* <p><em>DerivedData: </em>[@deriveData.Name] / Count=@deriveData.PlotItems!.Count() </p> *@
    <p><em>ProcessData: [@response.Type] / @response.Message</em></p>
    <img src="@response.Content" />
}

@if (!string.IsNullOrEmpty(image))
{
    <p>RunImage: @runImage.Name</p>
    <img src="@image" />
}

@code {
    private ActionResponse response;
    private DerivedData deriveData;
    private RunImage runImage;
    private string image = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        // getDerivedData:
        //response = await OrchestratorApi.getSourceData(new DerivedDataFilter() { Name = "Combined_NCP" });
        //deriveData = UtilsForMessages.DeserializeObject<DerivedData>(UtilsForMessages.Decompress(response.Content))!;

        // getRunImage:
        runImage = await OrchestratorApi.getRunImage(2);

        // processData:
        response = await OrchestratorApi.processData(runImage);
        image = response.Content;
        Debug.WriteLine($"API Response: [{response.Type}] / {response.Message} / {response.Content}");
              
        
    }
}